2010_Book_ParallelProgramming.pdf
enviar.txt
davigomes.pem
atividade02/vetor100.txt
atividade02/resultado100.txt
atividade02/matriz10x100.txt
atividade04/main
atividade05/atividade05
atividade05/comparaMatrizes
atividade05/criaMatriz
atividade05/lib.o
atividade05/main.o
atividade05/v2000x1.txt
atividade05/resultado1000x1.txt
atividade05/resultado1000x1_davigomes.txt
atividade05/resultado.txt
atividade05/matriz1000x1000.txt
atividade05/matriz1000x1.txt
atividade05/m2000x2000.txt
atividade06/atividade06
atividade06/comparaMatrizes
atividade06/criaMatriz
atividade06/lib.o
atividade06/m2000x2000.txt
atividade06/main.o
atividade06/matriz1000x1.txt
atividade06/resultado.txt
atividade06/matriz1000x1000.txt
atividade06/resultado1000x1_davigomes.txt
atividade06/v2000x1.txt
atividade06/resultado1000x1.txt
atividade07/serial
atividade07/paralelo
atividade08/main
.gitignore